{% extends "home.html" %}
{% block content %}


<head>
  <!-- Include custom CSS -->
  <link rel="stylesheet" href="style.css">
  <style>
    * {
        margin: 0;
        padding: 0;
    }
    
    .center-fit {
        max-width: 110%;
        max-height: 200%;
        margin: auto;
        background-size: 100% 100%;
        
    }
</style>
</head>

<header class="header">
  <img src="https://ik.imagekit.io/kna8w6ly3e/banner1.png?updatedAt=1682147158719" alt="Header Image" class="center-fit">
</header>
<br>
<main class="container my-1">
  <h1>About Us</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Vision</h2>
        <p>Our vision is to be an international market leader in the field of Solution provider for Industrial Automation systems and also to be a respected automation company offering comprehensive solutions by providing our customers the most effective products and their solutions with timely & best services at an affordable price to enhance their efficiency and gain their faith   </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Missions</h2>
        <p>Our mission is to continually shine to provide perfect services. Commitment to quality, reliability and effectiveness in achieving customer. Satisfaction is highest priority also to maintain our community by having best employees providing them opportunity for growth and enhancement.  </p>
      </div>
    </div>
  </div>

  
</main>

<!-- Footer goes here -->




<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-j15PdU6TJMTv95V7bW8h56pVH+sNjYvD9iJWgo/2aA7KjlrQv5m5Bm2e+cK3m26dWe5vL9t4x4tR1KjRiqFtDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>




    
{% endblock %}