{% extends "home.html" %}
{% block content %}

<main class="container my-5">
    <h1>Welcome to Avant</h1>
    <div class="row">
      <div class="col-md-6">
        <img src="https://ik.imagekit.io/kna8w6ly3e/img2.jpg?updatedAt=1681110801897" alt="Image 1" class="img-fluid mb-3">
      </div>
      <div class="col-md-6">
        <p>AVANT is a focused company that provides industrial automation solution and helps to arrange Automation material on time. We deal in all Automation & Drive Products. We are capable of distributing hardware and software products to support your existing installation.</p> 
      </div><br><br>
      
      
      <div class="col-md-6">
        <img src="https://ik.imagekit.io/kna8w6ly3e/img1.jpg?updatedAt=1681110797126" alt="Image 1" class="img-fluid mb-3">
      </div>
      <div class="col-md-6">
        <p>We believe on customer satisfaction and make sure customer must receive the most effective & value-based solutions for their requirements. Our Vision is to be a most reputed Automation Solution Provider and world class Suppliers.</p>
      </div>

    </div>
  </main>


  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-j15PdU6TJMTv95V7bW8h56pVH+sNjYvD9iJWgo/2aA7KjlrQv5m5Bm2e+cK3m26dWe5vL9t4x4tR1KjRiqFtDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



{% endblock %}